@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

header {
  height: 80px;
  width: 100%;
  border-bottom: 1px solid #999999;
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 30px;
}

.filter-search {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container-search {
  border: 1px solid black;
  display: flex;
  align-items: center;
  background-color: #f5f6f7;
  border-radius: 5px;
  padding-left: 10px;
}

.button-container {
  display: flex;
  gap: 10px;
}

.button-container button {
  height: 30px;
  width: 115px;
  border: 1px solid #017782;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  color: #017782;
  background-color: white;
  cursor: pointer;
}

.button-sold {
  height: 30px;
  width: 115px;
  border: 1px solid #017782;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  outline: none;
  background-color: #017782;
  cursor: pointer;
}

.logout-btn {
  height: 30px;
  width: 115px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  border: none;
  outline: none;
  background-color: #cc371a;
  cursor: pointer;
}

.header-container input {
  background-color: #f5f6f7;
  width: 600px;
  height: 30px;
  border: none;
  border-radius: 5px;
  padding-left: 10px;
}

main {
  width: 100%;
}

.container {
  width: 1280px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.hero-img {
  position: relative;
  height: 500px;
  width: 100%;
}

main img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.hero-ready {
  background-color: white;
  position: absolute;
  top: 110px;
  left: 150px;
  width: 375px;
  height: 275px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.hero-ready h1 {
  font-size: 32px;
  margin-bottom: 30px;
}

.home-ready-btn {
  background-color: #017782;
  color: white;
  border: none;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
}

.main-home {
  background-color: white;
}

.product-card {
  margin-top: 30px;
  width: 240px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}

.product-card img {
  width: 230px;
  height: 360px;
}
.info-user {
  display: flex;
  gap: 20px;
  align-items: center;
}

.info-user img {
  height: 20px;
  width: 20px;
  border-radius: 50px;
  object-fit: cover;
}

.info-user p {
  color: black;
}

.description {
  color: black;
  margin-top: 10px;
}

.description-gray {
  color: #999999;
  font-weight: 400;
}
section {
  background-color: #ecedee;
  height: 100vh;
}

.container-offer {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  gap: 150px;
}

.container-img,
.container-info {
  background-color: white;
}

.container-img {
  height: 600px;
  width: 600px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img img {
  height: 360px;
  width: 220px;
  object-fit: cover;
}

.container-info {
  height: 600px;
  width: 400px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.container-info-high {
  border-bottom: 1px solid gray;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info-high > p {
  color: black;
  font-size: 20px;
}

.container-info-high-details {
  color: gray;
  margin-top: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info-low {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info-low-description {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.container-info-low button {
  background-color: #017782;
  border: none;
  color: white;
  width: 330px;
  height: 30px;
  border-radius: 3px;
  align-self: center;
}

/* LOGIN && SIGNUP */

.container-login {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  margin-top: 70px;
  gap: 30px;
}

.login > .signup-text {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.container-input {
  margin-top: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.login input {
  width: 280px;
  height: 40px;
  border: none;
  border-bottom: 1.5px solid rgba(255, 96, 96, 0.198);
  padding: 5px;
}
.checkbox-container .checkbox {
  height: 20px;
  width: 20px;
}

.checkbox-container {
  display: flex;
  font-size: 14px;
  align-items: center;
  gap: 10px;
}

.terms {
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 18px;
}

.signup-button {
  height: 40px;
  width: 200px;
  border: 1px solid #017782;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  background-color: #017782;
  cursor: pointer;
  align-self: center;
}

p {
  font-size: 14px;
  color: #017782;
  font-weight: bold;
}

.link {
  text-decoration: none;
}

/* FORM */

main {
  width: 100%;
  background-color: #ececed;
}

.container-form {
  width: 1200px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.container-form h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid rgb(210, 210, 210);
}

.file-upload {
  background-color: white;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  border: 1px dashed gray;
}

input[type='file'] {
  display: none;
}

.input-box label {
  width: 50%;
}

.input-box input {
  width: 50%;
}

.description-field {
  width: 550px;
  height: 200px;
}

.container-form label {
  font-size: 16px;
}

.section {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 30px;
  border-top: 1px solid rgb(210, 210, 210);
  border-left: 1px solid rgb(210, 210, 210);
  border-right: 1px solid rgb(210, 210, 210);
}

.btn-container {
  display: flex;
  margin-top: 20px;
  justify-content: end;
}

.btn-container button {
  cursor: pointer;
}

.container-form button {
  background-color: #017782;
  border: none;
  border-radius: 3px;
  padding: 10px;
  color: white;
}

.file-label {
  border: 1px solid #017782;
  padding: 10px;
  color: #017782;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  gap: 5px;
}

.checkbox-container-exchange {
  display: flex;
  flex-direction: column;
}

.container-payment {
  background-color: rgb(229, 229, 229);
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.container-payment p {
  color: black;
  font-weight: 400;
}

.card-payment {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  gap: 10px;
  padding-bottom: 50px;
}

.summary {
  margin-bottom: 30px;
}

.order {
  display: flex;
  justify-content: space-between;
}

.card-total {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 20px;
  padding-top: 40px;
  border-radius: 2px;
  gap: 20px;
}

span {
  font-weight: bold;
}

.payment-btn {
  height: 40px;
  background-color: #02c06d;
  width: 100%;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
  border: none;
}
