header {
  height: 60px;
  border-bottom: 1px solid #999999;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
}

.logo img {
  height: 30px;
}

main {
  width: 100%;
}

main img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 30px;
}

.container {
  width: 1200px;
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.product-card {
  height: 410px;
  margin-top: 60px;
  width: 230px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: #999999;
  justify-content: center;
  align-items: center;
}

.info-user img {
  height: 10px;
  width: 10px;
}

.img-container {
  height: 360px;
  width: 230px;
}

.product-card img {
  object-fit: cover;
}

.infos-product {
  display: flex;
  flex-direction: column;
  align-self: start;
}

section {
  background-color: #ecedee;
  height: 100vh;
}

.container-offer {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 150px;
}

.container-img,
.container-info {
  background-color: white;
}

.container-img {
  height: 600px;
  width: 600px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img img {
  height: 360px;
  width: 220px;
  object-fit: cover;
}

.container-info {
  height: 600px;
  width: 400px;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.container-info-high {
  border-bottom: 1px solid gray;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info-high > p {
  color: black;
  font-size: 20px;
}

.container-info-high-details {
  color: gray;
  margin-top: 30px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-info-low {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-info-low-description {
  margin-top: 30px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.container-info-low button {
  background-color: #05b1ba;
  border: none;
  color: white;
  width: 330px;
  height: 30px;
  border-radius: 3px;
  align-self: center;
}
